/*css Geral*/

* {
    margin: 0;
}

html {
    background-color: white;
    width: 100%;
    height: 100%;
    
}

body {
    display: block;
    margin-left: 14%;
        
    width: 70%;
    height: 1200px;
    background-color: rgba(54, 54, 107, 0.89);
   
}

/* css Header*/

header {
    
    text-align: center;
    height: 180px;
}

header h1 {
    color: blue;
}

/*css Pesquisa*/

div#navPrincipal {
    
    display: inline-block;
    width: 100%;
    height: 150px;
    align-items: center;
}

div#navPrincipal button.btn {
    width: 200px;
    margin-left: 3%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1e78ac;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px#186896;
}

div#navPrincipal button.btn:hover {
    background-color: #144f70d5
}

div#navPrincipal button.btn:active {
    background-color: #144f70d5;
    box-shadow: 0 2px #144f70d5;
    transform: translateY(2px);
}

input.cxtPesquisa {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 8px 16px 8px 30px;
    margin-top: 40px;
    outline: none;
}

/*css espaço de pesquisa*/

div#espaco {
    width: 100%;
    height: 300px;
    border: 1px solid #144f70d5;
}

/*css Formulário*/

h1#novoUsuario {
    text-align: center;
    color:  #289bdd;
}

div#formCriar {
    
    margin: 30px auto auto 32%;
    border-radius: 10px;
    width: 30%;
    height: 300px;
    
}
div#formCriar form{
    
    width: 350px;
}

div#formCriar td {
    text-align: center;
    color: azure;
    padding: 10px;
    width: 250px;
    background-color: #289bdd2c;
    border-radius: 10px;
}

div#formCriar input.criar {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 8px 16px 8px 50px;
    outline: none;
}

div#formCriar input.btn {
    width: 100px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #289bdd44;
    border: none;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/*css Footer*/

footer {
    border-top: 1px solid #144f70d5;
    margin-top: 5%;
    text-align: center;
    color: #289bdd;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}